<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"
    />

    <!-- Nucleo Icons -->

    <link
      href="/views/pages/material-kit-master/assets/css/nucleo-icons.css"
      rel="stylesheet"
    />

    <link
      href="/views/pages/material-kit-master/assets/css/nucleo-svg.css"
      rel="stylesheet"
    />
    <link href="/views/css/material-kit.css" rel="stylesheet" />
    <link
      href="/views/pages/material-kit-master/assets/css/nucleo-svg.css"
      rel="stylesheet"
    />
    <link
      href="/views/pages/material-kit-master/assets/css/nucleo-svg.css"
      rel="stylesheet"
    />
    <link
      href="/views/pages/material-kit-master/assets/bootstrap_offline/bootstrap-5.0.2-dist/css/bootstrap-grid.css"
      rel="stylesheet"
    />
    <link
      href="/views/pages/material-kit-master/assets/bootstrap_offline/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css"
      rel="stylesheet"
    />
    <link
      href="/views/pages/material-kit-master/assets/bootstrap_offline/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css"
      rel="stylesheet"
    />

    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <!-- CSS Files -->

    <link
      id="pagestyle"
      href="/views/pages/material-kit-master/assets/css/material-kit.css?v=3.0.4"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js" integrity="sha512-FJ2OYvUIXUqCcPf1stu+oTBlhn54W0UisZB/TNrZaVMHHhYvLBV9jMbvJYtvDe5x/WVaoXZ6KB+Uqe5hT2vlyA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
    <script src="main2.js"></script>


  </head> 

  <body class="bg-outline-light">



    
    <header>
        <div class="page-header min-height-200" style="background-image: url('/views/pages/material-kit-master/assets/img/city-profile.jpg');" loading="lazy">
          <span class="mask bg-gradient-dark opacity-8"></span>
        </div>
      </header>
      <nav
          class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4 mb-sm-8"
        >
          <div class="container-fluid px-0">
            <a
              class="navbar-brand font-weight-bolder ms-sm-3"
              href="/views/bootstrap/landing.html"
              rel="tooltip"
              title="Designed and Coded by Creative Tim"
              data-placement="bottom"
           
            >
            <img alt="Image placeholder" src="/views/pages/material-kit-master/assets/img/election_board.jpg" class="avatar avatar-sm rounded-circle">
            </a>
            <button
              class="navbar-toggler shadow-none ms-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navigation"
              aria-controls="navigation"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div
              class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100"
              id="navigation"
            >
              <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item">
                  <a
                    class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                    id="dropdownMenuPages"
                    href="/views/bootstrap/landing.html"
                  >
                    <i class="material-icons opacity-6 me-2 text-md"
                      >dashboard</i
                    >
                    Home
                    <!-- <img src=".assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2"> -->
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
                    aria-labelledby="dropdownMenuPages"
                  >
                    <!-- <div class="d-none d-lg-block">
                        <h6
                          class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1"
                        >
                          Landing Pages
                        </h6>
                        <a
                          href="./pages/about-us.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>About Us</span>
                        </a>
                        <a
                          href="./pages/contact-us.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>Contact Us</span>
                        </a>
                        <a
                          href="./pages/author.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>Author</span>
                        </a>
                        <h6
                          class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3"
                        >
                          Account
                        </h6>
                        <a
                          href="./pages/sign-in.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>Sign In</span>
                        </a>
                      </div> -->

                    <!-- <div class="d-lg-none">
                        <h6
                          class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1"
                        >
                          Landing Pages
                        </h6>

                        <a
                          href="./pages/about-us.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>About Us</span>
                        </a>
                        <a
                          href="./pages/contact-us.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>Contact Us</span>
                        </a>
                        <a
                          href="./pages/author.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>Author</span>
                        </a>

                        <h6
                          class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3"
                        >
                          Account
                        </h6>
                        <a
                          href="./pages/sign-in.html"
                          class="dropdown-item border-radius-md"
                        >
                          <span>Sign In</span>
                        </a>
                      </div> -->
                  </div>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                    id="dropdownMenuBlocks"
                    href="/views/bootstrap/login.html"
                  >
                    <i class="material-icons opacity-6 me-2 text-md"
                      >view_day</i
                    >
                    Login
                    <!-- <img src="./assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2"> -->
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                    aria-labelledby="dropdownMenuBlocks"
                  >
                    <!-- <div class="d-none d-lg-block">
                        <li
                          class="nav-item dropdown dropdown-hover dropdown-subitem"
                        >
                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./presentation.html"
                          >
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Page Sections
                                </h6>
                                <span class="text-sm">See all sections</span>
                              </div>
                              <img
                                src="./assets/img/down-arrow.svg"
                                alt="down-arrow"
                                class="arrow"
                              />
                            </div>
                          </a>
                          <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/page-sections/hero-sections.html"
                            >
                              Page Headers
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/page-sections/features.html"
                            >
                              Features
                            </a>
                          </div>
                        </li>

                        <li
                          class="nav-item dropdown dropdown-hover dropdown-subitem"
                        >
                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./presentation.html"
                          >
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Navigation
                                </h6>
                                <span class="text-sm">See all navigations</span>
                              </div>
                              <img
                                src="./assets/img/down-arrow.svg"
                                alt="down-arrow"
                                class="arrow"
                              />
                            </div>
                          </a>
                          <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/navigation/navbars.html"
                            >
                              Navbars
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/navigation/nav-tabs.html"
                            >
                              Nav Tabs
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/navigation/pagination.html"
                            >
                              Pagination
                            </a>
                          </div>
                        </li>

                        <li
                          class="nav-item dropdown dropdown-hover dropdown-subitem"
                        >
                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./presentation.html"
                          >
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Input Areas
                                </h6>
                                <span class="text-sm">See all input areas</span>
                              </div>
                              <img
                                src="./assets/img/down-arrow.svg"
                                alt="down-arrow"
                                class="arrow"
                              />
                            </div>
                          </a>
                          <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/input-areas/inputs.html"
                            >
                              Inputs
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/input-areas/forms.html"
                            >
                              Forms
                            </a>
                          </div>
                        </li>

                        <li
                          class="nav-item dropdown dropdown-hover dropdown-subitem"
                        >
                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./presentation.html"
                          >
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Attention Catchers
                                </h6>
                                <span class="text-sm">See all examples</span>
                              </div>
                              <img
                                src="./assets/img/down-arrow.svg"
                                alt="down-arrow"
                                class="arrow"
                              />
                            </div>
                          </a>
                          <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/attention-catchers/alerts.html"
                            >
                              Alerts
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/attention-catchers/modals.html"
                            >
                              Modals
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/attention-catchers/tooltips-popovers.html"
                            >
                              Tooltips & Popovers
                            </a>
                          </div>
                        </li>

                        <li
                          class="nav-item dropdown dropdown-hover dropdown-subitem"
                        >
                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./presentation.html"
                          >
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Elements
                                </h6>
                                <span class="text-sm">See all elements</span>
                              </div>

                              <img
                                src="./assets/img/down-arrow.svg"
                                alt="down-arrow"
                                class="arrow"
                              />
                            </div>
                          </a>
                          <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/avatars.html"
                            >
                              Avatars
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/badges.html"
                            >
                              Badges
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/breadcrumbs.html"
                            >
                              Breadcrumbs
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/buttons.html"
                            >
                              Buttons
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/dropdowns.html"
                            >
                              Dropdowns
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/progress-bars.html"
                            >
                              Progress Bars
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/toggles.html"
                            >
                              Toggles
                            </a>
                            <a
                              class="dropdown-item ps-3 border-radius-md mb-1"
                              href="./sections/elements/typography.html"
                            >
                              Typography
                            </a>
                          </div>
                        </li>
                      </div> -->

                    <!-- <div class="row d-lg-none">
                        <div class="col-md-12">
                          <div class="d-flex mb-2">
                            <div class="icon h-10 me-3 d-flex mt-1">
                              <i
                                class="ni ni-single-copy-04 text-gradient text-primary"
                              ></i>
                            </div>
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Page Sections
                                </h6>
                              </div>
                            </div>
                          </div>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/page-sections/hero-sections.html"
                          >
                            Page Headers
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/page-sections/features.html"
                          >
                            Features
                          </a>

                          <div class="d-flex mb-2 mt-3">
                            <div class="icon h-10 me-3 d-flex mt-1">
                              <i
                                class="ni ni-laptop text-gradient text-primary"
                              ></i>
                            </div>
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Navigation
                                </h6>
                              </div>
                            </div>
                          </div>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/navigation/navbars.html"
                          >
                            Navbars
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/navigation/nav-tabs.html"
                          >
                            Nav Tabs
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/navigation/pagination.html"
                          >
                            Pagination
                          </a>

                          <div class="d-flex mb-2 mt-3">
                            <div class="icon h-10 me-3 d-flex mt-1">
                              <i
                                class="ni ni-badge text-gradient text-primary"
                              ></i>
                            </div>
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Input Areas
                                </h6>
                              </div>
                            </div>
                          </div>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/input-areas/inputs.html"
                          >
                            Inputs
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/input-areas/forms.html"
                          >
                            Forms
                          </a>

                          <div class="d-flex mb-2 mt-3">
                            <div class="icon h-10 me-3 d-flex mt-1">
                              <i
                                class="ni ni-notification-70 text-gradient text-primary"
                              ></i>
                            </div>
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Attention Catchers
                                </h6>
                              </div>
                            </div>
                          </div>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/attention-catchers/alerts.html"
                          >
                            Alerts
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/attention-catchers/modals.html"
                          >
                            Modals
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/attention-catchers/tooltips-popovers.html"
                          >
                            Tooltips & Popovers
                          </a>

                          <div class="d-flex mb-2 mt-3">
                            <div class="icon h-10 me-3 d-flex mt-1">
                              <i
                                class="ni ni-app text-gradient text-primary"
                              ></i>
                            </div>
                            <div
                              class="w-100 d-flex align-items-center justify-content-between"
                            >
                              <div>
                                <h6
                                  class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                                >
                                  Elements
                                </h6>
                              </div>
                            </div>
                          </div>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/avatars.html"
                          >
                            Avatars
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/badges.html"
                          >
                            Badges
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/breadcrumbs.html"
                          >
                            Breadcrumbs
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/buttons.html"
                          >
                            Buttons
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/dropdowns.html"
                          >
                            Dropdowns
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/progress-bars.html"
                          >
                            Progress Bars
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/toggles.html"
                          >
                            Toggles
                          </a>
                          <a
                            class="dropdown-item ps-3 border-radius-md mb-1"
                            href="./sections/elements/typography.html"
                          >
                            Typography
                          </a>
                        </div>
                      </div> -->
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                    id="dropdownMenuDocs"
                    href="/views/bootstrap/about_us.html"
                  >
                    <i class="material-icons opacity-6 me-2 text-md">article</i>
                    About us
                    <!-- <img src=".assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2"> -->
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg"
                    aria-labelledby="dropdownMenuDocs"
                  >
                    <!-- <div class="d-none d-lg-block">
                        <ul class="list-group">
                          <li class="nav-item list-group-item border-0 p-0">
                            <a
                              class="dropdown-item py-2 ps-3 border-radius-md"
                              href=" https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit "
                            >
                              <h6
                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                              >
                                Getting Started
                              </h6>
                              <span class="text-sm"
                                >All about overview, quick start, license and
                                contents</span
                              >
                            </a>
                          </li>
                          <li class="nav-item list-group-item border-0 p-0">
                            <a
                              class="dropdown-item py-2 ps-3 border-radius-md"
                              href=" https://www.creative-tim.com/learning-lab/bootstrap/colors/material-kit "
                            >
                              <h6
                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                              >
                                Foundation
                              </h6>
                              <span class="text-sm"
                                >See our colors, icons and typography</span
                              >
                            </a>
                          </li>
                          <li class="nav-item list-group-item border-0 p-0">
                            <a
                              class="dropdown-item py-2 ps-3 border-radius-md"
                              href=" https://www.creative-tim.com/learning-lab/bootstrap/alerts/material-kit "
                            >
                              <h6
                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                              >
                                Components
                              </h6>
                              <span class="text-sm"
                                >Explore our collection of fully designed
                                components</span
                              >
                            </a>
                          </li>
                          <li class="nav-item list-group-item border-0 p-0">
                            <a
                              class="dropdown-item py-2 ps-3 border-radius-md"
                              href=" https://www.creative-tim.com/learning-lab/bootstrap/datepicker/material-kit "
                            >
                              <h6
                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                              >
                                Plugins
                              </h6>
                              <span class="text-sm"
                                >Check how you can integrate our plugins</span
                              >
                            </a>
                          </li>
                          <li class="nav-item list-group-item border-0 p-0">
                            <a
                              class="dropdown-item py-2 ps-3 border-radius-md"
                              href=" https://www.creative-tim.com/learning-lab/bootstrap/utilities/material-kit "
                            >
                              <h6
                                class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                              >
                                Utility Classes
                              </h6>
                              <span class="text-sm"
                                >For those who want flexibility, use our utility
                                classes</span
                              >
                            </a>
                          </li>
                        </ul>
                      </div> -->

                    <!-- <div class="row d-lg-none">
                        <div class="col-md-12 g-0">
                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./pages/about-us.html"
                          >
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                            >
                              Getting Started
                            </h6>
                            <span class="text-sm"
                              >All about overview, quick start, license and
                              contents</span
                            >
                          </a>

                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./pages/about-us.html"
                          >
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                            >
                              Foundation
                            </h6>
                            <span class="text-sm"
                              >See our colors, icons and typography</span
                            >
                          </a>

                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./pages/about-us.html"
                          >
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                            >
                              Components
                            </h6>
                            <span class="text-sm"
                              >Explore our collection of fully designed
                              components</span
                            >
                          </a>

                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./pages/about-us.html"
                          >
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                            >
                              Plugins
                            </h6>
                            <span class="text-sm"
                              >Check how you can integrate our plugins</span
                            >
                          </a>

                          <a
                            class="dropdown-item py-2 ps-3 border-radius-md"
                            href="./pages/about-us.html"
                          >
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0"
                            >
                              Utility Classes
                            </h6>
                            <span class="text-sm"
                              >For those who want flexibility, use our utility
                              classes</span
                            >
                          </a>
                        </div>
                      </div> -->
                  </ul>
                </li>
                <li class="nav-item">
                <div class="col-12">
     
                    <a href="" class="avatar avatar-sm rounded-circle" >
                      <img alt="Image placeholder" src="/views/pages/material-kit-master/assets/img/team-1.jpg">
                    </a>
                  
                  </div>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
     
        
        <!-- START Testimonials w/ user image & text & info -->
        <section>
          <div class="page-header min-vh-100">
            <div class="container">
              <div class="row">
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                  <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/views/pages/material-kit-master/assets/img/illustrations/illustration-signin.jpg'); background-size: cover;" loading="lazy"></div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                  <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                      <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                        <h3 class="text-white text-primary mb-0">ADD candidates</h3>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="pb-3 h4">
                      please fill the form to add candidates to the system
                      </p>
                      <form id="contact-form" action="/register" enctype="multipart/form-data" method="post" autocomplete="off">

                        <div class="card-body p-0 my-3">
                          


                          <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-static mb-4">
                                <label class="h4">Full Name</label>
                                <input type="text" class="form-control" name="candname1" placeholder="Full Name" required>
                              </div>
                            </div>
                            <div class="col-md-6 ps-md-2">
                              <div class="input-group input-group-static mb-4">
                                <label class="h4">Email</label>
                                <input type="email" class="form-control"
                                name="candemail1" placeholder="hello@creative-tim.com"
                                required>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0 mt-md-0 mt-4">
                            <div class="input-group input-group-static mb-4">
                              <label class="h4">Description</label>
                              <textarea name="message1" class="form-control" id="message1" rows="6" placeholder="Describe your problem in at least 250 characters" required></textarea>
                            </div>
                          </div>
                        
                          <div class="row">

                            <div>
                              <div class="d-flex justify-content-center mb-4">
                                <img id="preview10" src="/views/pages/material-kit-master/assets/img/bruce-mars.jpg" class="avatar avatar-xxl mx-2  rounded-circle" alt="example placeholder" style="width: 200px;">
                            
                              </div>
                              <div class="d-flex justify-content-center">
                                <div class="btn btn-dark btn-rounded">
                                  <label class="form-label text-white m-1 " for="candimg">Upload Image 1</label>
                                  <input type="file" class="form-control d-none" id="candimg" name="candimg" accept="image/*" onchange="previewImage('candimg', 'preview10')" required>

                                </div>
                         
                           
                              </div>
                              
                          </div>

                          </div>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">REGISTER</button>
                            </div>
                          </div>
                        </div>
                        
              
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section>
   
 
          <div class="card mx-3">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-primary text-xxs font-weight-bolder">Full name</th>
                    <th class="text-uppercase text-primary text-xxs font-weight-bolder ps-2">Email</th>
                
              
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody> 

                  <% logusrs.forEach(function(logusrs) { %>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="<%= logusrs.userImg1 %>"class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          
        
                          <h6 class="mb-0 text-xs"><%= logusrs.full_name %></h6>
                      
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs text-secondary mb-0"><%= logusrs.email %></p>
             
                    </td>
        
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip"
                       data-original-title="Edit user" id="editlink">
                        Edit
                      </a>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip" id="deletelink"
                       data-original-title="Edit user">
                        Delete
                      </a>
                    </td>
                  </tr>
          
      
                  
                  
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>


          
        </section>


        <section>
   
 
          <div class="card mx-3">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-primary text-xxs font-weight-bolder">Full name</th>
            
                
              
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody> 

                  <% candid.forEach(function(candid) { %>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="<%= candid.candImg1 %>"class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          
        
                          <h6 class="mb-0 text-xs"><%= candid.full_name %></h6>
                      
                        </div>
                      </div>
                    </td>
                    <td>
               
             
                    </td>
        
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip"
                       data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip"
                       data-original-title="Edit user">
                        Detete
                      </a>
                    </td>
                  </tr>
          
      
                  
                  
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>


          
        </section>

 <!-- votes section  -->
        <section> 




          <div id="chartContainer">  

          </div>


        </section>
      </body>














      
    <script
      src="/views/pages/material-kit-master/assets/js/core/bootstrap.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/views/pages/material-kit-master/assets/js/material-kit.min.js"
      type="text/javascript"
    ></script>

    <script src="/views/pages/material-kit-master/assets/js/plugins/perfect-scrollbar.min.js"></script>

    <!-- <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"
  ></script> -->

    <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->

    <script src="/views/pages/material-kit-master/assets/js/plugins/countup.min.js"></script>

    <script src="/views/pages/material-kit-master/assets/js/plugins/choices.min.js"></script>

    <script src="/views/pages/material-kit-master/assets/js/plugins/prism.min.js"></script>
    <script src="/views/pages/material-kit-master/assets/js/plugins/highlight.min.js"></script>

    <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
    <script src="/views/pages/material-kit-master/assets/js/plugins/rellax.min.js"></script>
    <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
    <script src="/views/pages/material-kit-master/assets/js/plugins/tilt.min.js"></script>
    <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
    <script src="/views/pages/material-kit-master/assets/js/plugins/choices.min.js"></script>

    <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
    <script src="/views/pages/material-kit-master/assets/js/plugins/parallax.min.js"></script>

    <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
    <!--  Google Maps Plugin    -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>

    <script
      src="/views/pages/material-kit-master/assets/js/material-kit.js"
      type="text/javascript"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>

    <script>

      function previewImage(inputId, imageId) {
        const file = document.getElementById(inputId).files[0];
        const reader = new FileReader();
      
        reader.onload = function(e) {
          document.getElementById(imageId).src = e.target.result;
        }
      
        reader.readAsDataURL(file);
      }
      
      
          </script>

</html>











